@use "foundation";

$topicBanner: '/images/theme_campfire/backgrounds/woodPointed.png';
$fire: '/images/theme_campfire/details/Campfire-1.png';
$smore: '/images/theme_campfire/details/Smore.png';

.fire-img {
    height: 4rem;
}

.camp-fire-box {
    padding: 5px 5px 5px 0;
    border-radius: 75px;
    font-family: foundation.$special;
    border: 15px solid foundation.$lightBrown;
    background: foundation.$lightBrown linear-gradient(to right, foundation.$lightBrown 0%, #F0DBAE 50%, #F0DBAE 100%);
    @include foundation.centerRow(flex-start);
    align-items: center;
    box-shadow: 0px 1px 2px 0px foundation.$darkBrown;
}

.column-box {
    margin-left: 25px;
    @include foundation.centerColumn(space-evenly);
    flex: 0;
    width: 210px;
    align-items: center;
    height: 100%;
}

.fire {
    height: 50%;
    filter: drop-shadow(3px 3px 3px rgb(102, 102, 102));
}

.participant-list {
    flex: 1;
    margin: 0 40px 0 1em;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    &:hover {
        overflow-y: scroll;
    }
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 10px;
        }
    &::-webkit-scrollbar-corner {
        background: transparent;
        }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
    }
    &::-moz-scrollbar {
        background-color: transparent;
        width: 10px;
    }
    &::-moz-scrollbar-corner {
        background: transparent;
    }
    &::-moz-scrollbar-track {
        background: transparent;
    }
    &::-moz-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
    }
    &::-ms-scrollbar {
        background-color: transparent;
        width: 10px;
    }
    &::-ms-scrollbar-corner {
        background: transparent;
    }
    &::-ms-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
    }
}

.wood-button {
    background: transparent;
    background-image: url($topicBanner);
    background-size: contain;
    display: inline-block;
    width: 235px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: foundation.$cream;
    font-family: foundation.$special;
    font-size: 18px;
    line-height: 70px;
    filter: drop-shadow(3px 3px 3px rgb(54, 54, 54));
    &:hover {
        cursor: pointer;
        transform-origin: center;
        transform: scale(1.1);
        color: foundation.$cream;
    }
}

.member-name {
    list-style-type: none;
    margin: 5px;
    padding: 3px;
}

.member-name span{
    border-bottom: solid 1px foundation.$signBrown;
}

// tablet
@media screen and (max-width: 1200px) {

    .participant-list {
        width: 70%;
    }
}


// mobile
@media screen and (max-width: 600px) {

    .camp-fire-box {
        height: 280px;
        width: auto;
        @include foundation.boxShadow;
        @include foundation.centerColumn(center);
        background: linear-gradient(to top, foundation.$lightBrown 0%, #F0DBAE 50%, #F0DBAE 100%);
    }

    .column-box {
        margin: 0;
        height: auto;
    }

    .fire {
        display: none;
    }

    .participant-list  {
        width: 90%;
        background: transparent;
        text-align: center;
        border-radius: 0;
    }

}
