@media(min-width:1201px) and (max-width:1440px){
	.banner-wrapper{background-size: cover;padding: 35px 0 60px;}
	.services-wrp .container,.join-box{max-width: 100%;width: 100%;}
	.join-lines{padding: 50px 65px;}
	.join-lines p{font-size:24px;line-height: 36px;}

	.services-wrp{padding: 75px 0 80px;}
	.services-box{padding: 10px;}
	.services-row{padding: 25px;}
	.services-img img{height: 95px;}
	.services-img h3{font-size:20px;}
	.service-data{padding-left: 25px;}
	.service-data li{font-size: 15px;}
	.banner-wrapper .btn-group .btn-main{font-size: 18px;}
	.banner-wrapper .btn-group,.logo-row{margin: 0 0 50px;}
}

@media(min-width:1025px) and (max-width:1200px){
	.banner-wrapper{background-size: cover;padding: 35px 0 60px;}
	.services-wrp .container,.join-box{max-width: 100%;width: 100%;}
	.join-lines{padding: 50px 65px;}
	.join-lines p{font-size:18px;line-height: 28px;}

	.services-wrp{padding: 75px 0 80px;}
	.services-box{padding: 10px;}
	.services-row{padding: 25px;}
	.services-img img{height: 95px;}
	.services-img h3{font-size:20px;}
	.service-data{padding-left: 25px;}
	.service-data li{font-size: 15px;}
	.banner-wrapper .btn-group .btn-main{font-size: 18px;}
	.banner-wrapper .btn-group,.logo-row{margin: 0 0 50px;}
}

@media(min-width:992px) and (max-width:1024px){
	.banner-wrapper{background-size: cover;padding: 35px 0 60px;}
	.services-wrp .container,.join-box{max-width: 100%;width: 100%;}
	.join-lines{padding: 50px 65px;}
	.join-lines p{font-size:18px;line-height: 28px;}

	.services-wrp{padding: 75px 0 80px;}
	.services-box{padding: 10px;}
	.services-row{padding: 25px;}
	.services-img img{height: 75px;}
	.services-img h3{font-size: 18px;}
	.service-data{padding-left: 25px;}
	.service-data li{font-size: 14px;}
	.banner-wrapper .btn-group .btn-main{font-size: 16px;}
	.banner-wrapper .btn-group,.logo-row{margin: 0 0 50px;}
}

@media(min-width:768px) and (max-width:991px){
	.banner-wrapper{background-size: cover;padding: 35px 0 60px;}
	.services-wrp .container,.join-box{max-width: 100%;width: 100%;}
	.join-lines{padding: 50px 65px;}
	.join-lines p{font-size:18px;line-height: 28px;}

	.services-wrp{padding: 75px 0 80px;}
	.services-box{padding: 10px;}
	.services-row{padding: 25px;}
	.services-img img{height: 75px;}
	.services-img h3{font-size: 18px;}
	.service-data{padding-left: 25px;}
	.service-data li{font-size: 14px;}
	.banner-wrapper .btn-group .btn-main{font-size: 18px;}
	.banner-wrapper .btn-group,.logo-row{margin: 0 0 50px;}
}

@media(min-width:576px) and (max-width:767px){
	.banner-wrapper{background-size: cover;padding: 35px 0 60px;}
	div#rone {order: 2;}
	div#rtwo {order: 1;}
	div#rthree {order: 3;}
	.logo-row{margin: 0 0 30px;}
	.logo-row .row {align-items: flex-start;}
	.logo-row .row .col-sm-6{max-width:50%;width: 50%;}
	.lg-bx.center-lg{margin: 0 0 30px;}
	.banner-wrapper .btn-group{margin: 0 0 40px;}
	.banner-wrapper .btn-group .btn-main{padding: 10px 30px;font-size: 14px;}
	.join-box{padding: 10px;border-radius: 5px;}
	.join-lines{padding: 25px;border-radius: 5px;}
	.join-lines p{font-size: 15px;line-height: 25px;}

	.services-wrp{padding: 40px 10px;}
	.services-wrp .container,.join-box{max-width: 100%;width: 100%;}
	.services-box{padding: 10px;background-size: cover;}
	.services-row{display: block;padding: 25px;}
	.services-img img{display: none;}
	.services-img h3{font-size: 20px;margin: 0 0 30px;}
	.service-data{padding: 0;text-align: center;}
	.service-data li{font-size: 14px;}
}

@media(min-width:448px) and (max-width:575px){
	.banner-wrapper{background-size: cover;padding: 35px 0 60px;}
	div#rone {order: 2;}
	div#rtwo {order: 1;}
	div#rthree {order: 3;}
	.logo-row{margin: 0 0 30px;}
	.logo-row .row {align-items: flex-start;}
	.logo-row .row .col-sm-6{max-width:50%;width: 50%;}
	.lg-bx.center-lg{margin: 0 0 30px;}
	.banner-wrapper .btn-group{margin: 0 0 40px;}
	.banner-wrapper .btn-group .btn-main{padding: 10px 30px;font-size: 14px;}
	.join-box{padding: 10px;border-radius: 5px;}
	.join-lines{padding: 25px;border-radius: 5px;}
	.join-lines p{font-size: 15px;line-height: 25px;}

	.services-wrp{padding: 40px 10px;}
	.services-wrp .container,.join-box{max-width: 100%;width: 100%;}
	.services-box{padding: 10px;background-size: cover;}
	.services-row{display: block;padding: 35px;}
	.services-img img{display: none;}
	.services-img h3{font-size: 22px;margin: 0 0 30px;}
	.service-data{padding: 0;text-align: center;}
}

@media(max-width:447px){
	.banner-wrapper{background-size: cover;padding: 35px 0 60px;}
	div#rone {order: 2;}
	div#rtwo {order: 1;}
	div#rthree {order: 3;}
	.logo-row{margin: 0 0 30px;}
	.logo-row .row {align-items: flex-start;}
	.logo-row .row .col-sm-6{max-width:50%;width: 50%;}
	.lg-bx.center-lg{margin: 0 0 30px;}
	.banner-wrapper .btn-group{margin: 0 0 40px;}
	.banner-wrapper .btn-group .btn-main{padding: 10px 30px;font-size: 12.38px;}
	.join-box{padding: 10px;border-radius: 5px;}
	.join-lines{padding: 25px;border-radius: 5px;}
	.join-lines p{font-size: 15px;line-height: 25px;}

	.services-wrp{padding: 40px 10px;}
	.services-wrp .container,.join-box{max-width: 100%;width: 100%;}
	.services-box{padding: 10px;background-size: cover;}
	.services-row{display: block;padding: 25px;}
	.services-img img{display: none;}
	.services-img h3{font-size: 22px;margin: 0 0 30px;}
	.service-data{padding: 0;text-align: center;}
}
