import Config

config :campfire_social_hour,
  secret_token: "ABCdef123",
  account_id: "foobar",
  client_id: "foobar",
  client_secret: "foobar",
  meeting_secret: "abc123",
  theme: "(techextra|campfire)"
