
<section class="services-wrp">
  <div class="container">
    <div class="row">
      <%= for meeting <- @meetings do %>
        <.live_component module={MeetingComponent}
                         id={meeting.id}
                         topic={meeting.topic}
                         link={meeting.link}
                         participants={participant_list(meeting.participants)} />
      <% end %>
    </div>
  </div>
</section>
