<footer>
  <div class="ground-sign">
    <img class="logo" src="/images/theme_campfire/logos/Unicon.png" alt="Unicon logo" />
  </div>
  <div class="ground-sign">
    <img class="logo" src="/images/theme_campfire/logos/Internet2.png" alt="Internet2 logo" />
  </div>
  <div class="ground-sign">
    <img class="logo" src="/images/theme_campfire/logos/CirrusIdentity.png" alt="Cirrus Identity logo" />
  </div>
</footer>
