<footer>
  <div class="ground-sign">
    <img class="logo" src="/images/theme_campfire/logos/TechExtra.png" alt="Tech Extra logo" />
  </div>
  <div class="ground-sign">
    <img class="logo" src="/images/theme_campfire/logos/WestArete.png" alt="West Arete logo" />
  </div>
</footer>
