<section class="phx-hero">
  <h1>Welcome to Campfire Social Hour!</h1>

  <p>If you're seeing this page, you're probably either curious or lost.</p>
  <p>If you're trying to join a meeting, then the URL you want to use will look like <span class="font-monospace">/meetings/<span class="text-muted">abc123</span></span>, but we're not going to give you the actual URL here to keep out ruffians. Please visit <%= link "Canvas", to: "https://learning.internet2.edu/courses/81" %> get the correct link.</p>
</section>
