<section class="about-page">
  <section class="content-background about-content-box">
    <p>Are you trying to join a meeting? If so, then the URL you want to use will look like <span class="font-monospace">/meetings/<span class="text-muted">abc123</span></span>, but we"re not going to give you the actual URL here to keep out ruffians. Please visit <a href="https://learning.internet2.edu/courses/86">Canvas</a> to get the correct link.</p>

    <%= render "_about_content.html" %>
  </section>
</section>
